name: Expo Deploy App 
on:
  push:
    branches:
      - appstore
jobs:
  publish:
    name: Install and publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: SpicyPizza/create-envfile@v1
        with:
          envkey_FIREBASE_APIKEY: ${{ secrets.FIREBASE_APIKEY }}
          file_name: .env
       
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - uses: expo/expo-github-action@v5
        with:
          expo-version: 3.x
          expo-username: ${{ secrets.EXPO_CLI_USERNAME }}
          expo-password: ${{ secrets.EXPO_CLI_PASSWORD }}
          expo-cache: true
        env:
          FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: ${{ secrets.FASTLANE_APPSPECIFIC_PASSWORD }}:  
      - run: yarn install
      - expo build:ios --config apps/app.generic.json
      - expo upload:ios --config apps/app.generic.json
